img{
    height: auto;
    width:80%;
    margin: auto;
    display: block;
}
h2 {
    /* padding-right:50px;
	padding-left:50px; */
    font-size: 24px;
}
h3 {
    /* padding-right:50px;
	padding-left:50px; */
    font-size: 22px;
}
h4 {
    /* padding-right:50px; */
	/* padding-left:50px; */
    font-size: 20px;
}
h5 {
    /* padding-right:50px; */
	/* padding-left:50px; */
    font-size: 18px;
}
p
{
	/* padding-right:50px;
	padding-left:50px; */
    font-size: 16px;
}
/* 代码块高亮 */
pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;overflow: hidden;
    /* width: 80%; */
    /* margin: auto; */
    
}
code {display: block;padding: 12px 24px;overflow-y: auto;font-weight: 300;font-family: Menlo, monospace;}
code.has-numbering {margin-left: 21px;}
.pre-numbering {position: absolute;top: 0;left: 0;width: 20px;padding: 12px 2px 12px 0;border-right: 1px solid #C3CCD0;border-radius: 3px 0 0 3px;background-color: #EEE;text-align: right;font-family: Menlo, monospace;font-size: 0.8em;color: #AAA;}

/* pre
{
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
} */
/*
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
}
h5 {
    font-size: 22px;
}
h4 {
    font-size: 24px;
}
h3 {
    font-size: 26px;
}
h2 {
    font-size: 28px;
}
h2:before {
    content: '✒️';
}
h3:before {
    content: '✏️';
}
h4:before {
    content: '📌';
}
h5:before {
    content: '🏷️';
}
p {
    margin-bottom: 20px;
}
strong {
}
code {
    font-family: 'dengxian';
    padding: 3px 8px;
    border-radius: 8px;
    margin: 0 2px;
}
p img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 12px;
}
blockquote {
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 20px;
}
blockquote p {
    margin: 0;
}
table {
    margin: 20px auto;
    border: 2px solid rgb(120, 120, 120);
    border-spacing: 0;
    text-align: center;
}
table th,
table td {
    padding: 6px 14px;
    border: 1px solid rgb(120, 120, 120);
}
a {
    font-weight: 700;
    text-decoration: underline !important;
    margin: 0 4px;
}
a:hover {
    color: red;
}
hr {
    margin: 20px 0;
}
*/
